<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<div>
        <h1 class="title">Text Redaction</h1>
        <p class="description">Preserve your privacy by redacting all names, emails, and street addresses from your text. Enter your text below, and receive a redacted version in PDF format.</p>
        <form action="/redact" method="POST">
            <textarea class="textarea" placeholder="Write or paste your text here..." name="text"></textarea>
            <input class="submit-button" type="submit" value="Redact">
        </form>
    </div>

	<div th:replace="footer :: copy"></div>

</body>
</html>
