<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<div>
        <h1 class="title">Redacted Result</h1>
        <p class="description">Here is your redacted document in PDF format. To redact another document, click the button below.</p>
		<p>The resonse from the redaction service: <b th:text="${response}"></b></p>
		<div class="pdf-container">
            <embed class="pdf" src="path/to/your/pdf" type="application/pdf" />
        </div>
		<a href="/" class="back-button">Try Again</a>
    </div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
